.actors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
}
.pagination{
    padding: 20px;
    margin: 0 auto;
}